<div class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-0">
                <p-button label="Adicionar Local" icon="pi pi-plus" iconPos="right" (onClick)="onClickAdicionarLocal()"></p-button>
                <p-button *ngIf="!loading" icon="pi pi-refresh" iconPos="right" (onClick)="onClickAtualizar()"></p-button>
                <p-button *ngIf="loading" icon="pi pi-spin pi-spinner" iconPos="right" (onClick)="onClickAtualizar()"></p-button>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card mb-0">
            <p-table *ngIf="locais" [value]="locais" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
                [tableStyle]="{ 'min-width': '50rem' }" [loading]="loading"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                (onPage)="pageChange($event)" [rowsPerPageOptions]="[5, 10, 25, 50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:10%">Cod</th>
                        <th style="width:20%">Local</th>
                        <th style="width:10%">CEP</th>
                        <th style="width:15%">Latitude</th>
                        <th style="width:15%">Longitude</th>
                        <th style="width:10%">Status</th>
                        <th style="width:20%"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-local>
                    <tr>
                        <td>{{ local.id ?? ' -' }}</td>
                        <td>{{ local.nome ?? ' -' }}</td>
                        <td>{{ local.cep ?? ' -' }}</td>
                        <td>{{ local.latitude ?? ' -' }}</td>
                        <td>{{ local.longitude ?? ' -' }}</td>
                        <td>
                            <p-tag *ngIf="local.dados != null && local.dados.length > 0" 
                                    [value]="local.dados[0].clima.list[0].weather[0].description" 
                                    [severity]="getClima(local.dados[0].clima.list[0].weather[0].id)"
                                    [icon]="getClimaIcon(local.dados[0].clima.list[0].weather[0].id)"></p-tag>

                            <p-tag *ngIf="local.dados == null || (local.dados != null && local.dados.length == 0)" 
                                    value="Sem dados" 
                                    severity="warning"
                                    icon="pi pi-exclamation-triangle"></p-tag>
                        </td>
                        <td style="text-align: right;">
                            <div>
                                <p-button icon="pi pi-spin pi-cog" (onClick)="onClickDashboard(local)"></p-button>
                                <p-button icon="pi pi-pencil" class="pr-2 pl-2" severity="warning" (onClick)="onClickEditar(local)"></p-button>
                                <p-button icon="pi pi-trash" severity="danger" (onClick)="onClickDeletar(local)"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>